<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<add key="base_url" value="http://api.endlessmedical.com/v1/dx/"/>

		<add key="get_sessionID_url_mod" value="InitSession" />

		<add key="accept_terms_and_conditions_url_mod" value="AcceptTermsOfUse?" />
		
		<add key="include_tnc_statement_url_mod" value="&amp;passphrase=" />

		<add key="tnc_acceptance_statement_url_mod" value="I have read, understood and I accept and agree to comply with the Terms of Use of EndlessMedicalAPI and Endless Medical services. The Terms of Use are available on endlessmedical.com" />
		
		<add key="update_features_url_mod" value="UpdateFeature?" />

		<add key="sessionID_url_mod" value="SessionID="/>

		<add key="feature_name_url_mod" value="name="/> <!--test &-->

		<add key="feature_value_url_mod" value="value="/>

		<add key="analyze_url_mod" value="Analyze?"/>

	</appSettings>

</configuration>