<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<add key="base_url" value="http://api.endlessmedical.com/v1/dx/"/>

		<add key="get_sessionID_mod" value="InitSession" />
		
		<add key="get_updatefeatures_mod" value="POST UpdateFeature?" />

		<add key="sessionID_url_mod" value="SessionID="/>

		<add key="access_key_url_mod" value="&amp;name="/> <!--test &-->

		<add key="access_key_url_mod" value="&amp;value="/>

		<add key="analyze_mod" value="Analyze?"/>

	</appSettings>

</configuration>